In [37]:
import pandas as pd


# Load the CSV files
nb_df = pd.read_csv('../data/nb.csv')
drivers_location_df = pd.read_csv('../data/driver_locations_during_request.csv')

In [36]:
# Display the first 5 rows of the DataFrame
print(drivers_location_df.head())

   id  order_id  driver_id driver_action       lat       lng  created_at  \
0   1    392001     243828      accepted  6.602207  3.270465         NaN
1   2    392001     243588      rejected  6.592097  3.287445         NaN
2   3    392001     243830      rejected  6.596133  3.281784         NaN
3   4    392001     243539      rejected  6.596142  3.280526         NaN
4   5    392001     171653      rejected  6.609232  3.288800         NaN

   updated_at
0         NaN
1         NaN
2         NaN
3         NaN
4         NaN

In [39]:
# Display the first 5 rows of the DataFrame
print(nb_df.head())

   Trip ID                         Trip Origin  \
0   391996  6.508813001668548,3.37740316890347
1   391997                 6.4316714,3.4555375
2   391998         6.631679399999999,3.3388976
3   391999         6.572757200000001,3.3677082
4   392001                 6.6010417,3.2766339

                  Trip Destination      Trip Start Time        Trip End Time
0      6.650969799999999,3.3450307  2021-07-01 07:28:04  2021-07-01 07:29:37
1  6.4280814653326,3.4721885847586  2021-07-01 06:38:04  2021-07-01 07:07:28
2      6.508324099999999,3.3590397  2021-07-01 06:21:02  2021-07-01 07:02:23
3      6.584881099999999,3.3614073  2021-07-01 07:16:07  2021-07-01 07:29:42
4              6.4501069,3.3916154  2021-07-01 09:30:59  2021-07-01 09:34:36

In [38]:
# # Rename the 'Trip_ID' column to 'order_id'
# nb_df = nb_df.rename(columns={'Trip_ID': 'order_id'})

In [41]:
# check if there is null values

print(nb_df.isnull().sum())

Trip ID                0
Trip Origin            0
Trip Destination       0
Trip Start Time     1651
Trip End Time          1
dtype: int64

In [ ]:
#Drop rows with any null values
drivers_location_df = nb_df.dropna()

In [43]:
print(drivers_location_df.isnull().sum())
# Drop rows with any null values
drivers_location_df = drivers_location_df.dropna()

id                     0
order_id               0
driver_id              0
driver_action          0
lat                    0
lng                    0
created_at       1557740
updated_at       1557740
dtype: int64